## Project Jeopardy:
This project was supposed to provide a statistical analysis of the most efficient jeopardy questions to study. The Project was a complete disaster. The instructions were just point by point do this do that and it was never explained why we were doing what we were doing. Furthermore the solutions (provieded in the instructions) were often so moronic (for loop in for loop for something that could easily have been done with vectored standard pandas operations) it hurt to execute them. I provided some of my own solutions to some of the problems, but since the project was so useless, I didn't really write many markdown cells. If you hate yourself, go on and read it. I may go back and re-do this clusterfuck at some point, some distant dark point.

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
jeopardy = pd.read_csv('jeopardy.csv')
pd.set_option.max_colwidth = 200

The column names have spaces in them and are capitalized. Let's fix that

In [2]:
print(jeopardy.columns)
jeopardy.columns = jeopardy.columns.str.replace('\s', '').str.lower()
print(jeopardy.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Index(['shownumber', 'airdate', 'round', 'category', 'value', 'question',
       'answer'],
      dtype='object')

In [3]:
jeopardy.head(3)

,shownumber,airdate,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona

Let's normalize the 'answer' and 'question' columns. To do this we will make all the words lower-case and remove all the punctuation. The project guide wants us to do this with a function, which we will then apply, but it is faster, just to use .str.replace and .str.lower to do the same.

In [4]:
jeopardy['clean_question'] = jeopardy['question'].str.lower().str.replace('[^\s\w\d]', '')
jeopardy['clean_answer'] = jeopardy['answer'].str.lower().str.replace('[^\s\w\d]', '')

In [5]:
jeopardy[['clean_question', 'clean_answer']]

,clean_question,clean_answer
0,for the last 8 years of his life galileo was u...,copernicus
1,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,the city of yuma in this state has a record av...,arizona
3,in 1963 live on the art linkletter show this c...,mcdonalds
4,signer of the dec of indep framer of the const...,john adams
5,in the title of an aesop fable this insect sha...,the ant
6,built in 312 bc to link rome the south of ita...,the appian way
7,no 8 30 steals for the birmingham barons 2306 ...,michael jordan
8,in the winter of 197172 a record 1122 inches o...,washington
9,this housewares store was named for the packag...,crate barrel
10,and away we go,jackie gleason
11,cows regurgitate this from the first stomach t...,the cud
12,in 1000 rajaraja i of the cholas battled to ta...,ceylon or sri lanka
13,no 1 lettered in hoops football lacrosse at s...,jim brown
14,on june 28 1994 the natl weather service began...,the uv index
15,this companys accutron watch introduced in 196...,bulova
16,outlaw murdered by a traitor and a coward whos...,jesse james
17,a small demon or a mischievous child who might...,imp
18,karl led the first of these marxist organizati...,the international
19,no 10 fblb for columbia u in the 1920s mvp for...,lou gehrig
20,africas lowest temperature was 11 degrees belo...,morocco
21,edward teller this man partnered in 1898 to s...,paul bonwit
22,1939 oscar winner you are a credit to your cra...,hattie mcdaniel for her role in gone with the ...
23,in geologic time one of these shorter than an ...,era
24,this asian political party was founded in 1885...,the congress party
25,no 5 only center to lead the nba in assists tr...,wilt chamberlain
26,the kirschner brothers don bill named this sk...,k2
27,revolutionary war hero his spirit is in vermon...,ethan allen
28,a single layer of paper or to perform ones cra...,ply
29,a hrefhttpwwwjarchivecommedia20041231_dj_23mp3...,horton
...,...,...
19969,in 1960 the last of these locomotives was reti...,steam engines
19970,kate if i be waspish best beware my sting his ...,petruchio
19971,this private college in northern california bo...,stanford university
19972,she voiced princess pea in the tale of despere...,emma watson
19973,its the name of the longawaited new white hous...,bo
19974,langdon in angels demons is looking for a hre...,an antimatter bomb
19975,in the 1600s most of new york state was occupi...,the iroquois
19976,marinas dad need a hint he rules tyre,pericles
19977,presidential kids are welcome at this new orle...,tulane
19978,she didnt vamp it up did a bella job as em in...,kristen stewart
19979,third syllable intoned by the giant who smells...,fo
19980,much of angels demons takes place at one of a...,a conclave
19981,in 1899 secretary of state john hay proclaimed...,opendoor policy
19982,fruity surname of peter in a midsummer nights ...,quince
19983,quincy jones kevin eubanks branford marsalis ...,berklee
19984,in 2009 she returned to being fast furious as...,michelle rodriguez
19985,the book of genesis says this ancient city of ...,ur
19986,habakkuk and the angel is one of a series of a...,bernini
19987,in medieval england it meant the smallest unit...,atom
19988,this texas city is the largest in the us to ha...,houston lee brown
19989,the crickets,buddy holly
19990,in the 990s this son of erik the red brought c...,leif ericson
19991,concerning a failed windows 98 demonstration h...,bill gates
19992,this llama product is used to make hats blanke...,wool
19993,in 1967 this company introduced its chocolatec...,hostess
19994,of 8 12 or 18 the number of us states that tou...,18
19995,the new power generation,prince
19996,in 1589 he was appointed professor of mathemat...,galileo
19997,before the grand jury she said im really sorry...,monica lewinsky
19998,llamas are the heftiest south american members...,camels

Now let's normalize the 'values' column, to be of the int type. NaN values will be turned to 0

In [6]:
values = jeopardy.value.str.extract('(\d+)', expand = False)
values[values.isna()] = 0
values = values.astype(int)
jeopardy['clean_values'] = values

In [7]:
jeopardy.clean_values.dtype

dtype('int64')

In [8]:
jeopardy['airdate_clean'] = pd.to_datetime(jeopardy.airdate)

In [9]:
jeopardy.airdate_clean.dtype

dtype('<M8[ns]')

We will now find out if there are questions, that include parts of their answer in the question.

In [10]:
def reoccurence(row):
    split_answer = row.clean_answer.split()
    split_question = row.clean_question.split()
    match_count = 0
    for item in ['the', 'or', '&', 'a', 'of']:
            if item in split_answer:
                split_answer.remove(item)
    for item in ['the', 'or', '&', 'a', 'of']:
            if item in split_question:
                split_question.remove(item)
    if len(split_answer) == 0:
        return 0
    
    for word in split_answer: 
        if word in split_question:
            match_count += 1
    
    return(match_count / len(split_answer))
jeopardy['answer_in_question'] = jeopardy.apply(reoccurence, axis = 1)
# jeopardy.iloc[8:10].apply(reoccurence, axis = 1)

In [11]:
jeopardy.answer_in_question.mean()*100

4.108361613493449

So we can see that about 4% of the words in the answers are mentioned in the correspondingh question.

In [12]:
jeopardy.loc[jeopardy.answer_in_question != 0, ['question', 'answer','answer_in_question']]

,question,answer,answer_in_question
14,"On June 28, 1994 the nat'l weather service beg...",the UV index,0.500000
24,This Asian political party was founded in 1885...,the Congress Party,0.500000
38,"During the 1954-1955 Sun sessions, Elvis climb...","the ""Mystery Train""",0.500000
53,"In 1961 James Brown announced ""all aboard"" for...","""Night Train""",0.500000
68,This island in the South Pacific is named for ...,Easter Island,0.500000
80,The family history you wrote for school might ...,Ellis Island,0.500000
112,He's the older son of Prince Charles and the l...,Prince William,0.500000
114,"Falcon Heene, who it turned out was safe at ho...",the balloon boy,0.500000
117,"Prime Minister Tony Blair dubbed her ""The Peop...",Princess Diana,0.500000
122,We'll look smart in these vehicles that return...,Trams (smart),0.500000
128,Ed leaves pools of water on the carpet when he...,Sloop (pools),0.500000
134,You'd be naive to think you can make bottled w...,Evian (naive),0.500000
140,"Aye, lass, I'll wed thee ere this has dried on...",Dew (wed),0.500000
145,"You know so much about policy, you qualify as ...",Wonk (know),0.500000
170,"Near the end of the credits comes the ""cutter""...",Negative cutter,0.500000
182,"At 14,140 feet, this Rocky Mountain peak disco...",Pike's Peak,0.500000
196,Dallas-Fort Worth Airport architect Gyo Obata ...,Air & Space Museum,0.333333
205,4 different species of bears live in Alaska: ...,Polar bears,0.500000
227,David Ben-Gurion went to the U.S. in 1915 when...,Ottoman Empire,0.500000
232,"With an appropriate-sounding name, John Dye pl...",Angel of Death,0.500000
243,"The TV show ""Everybody Hates Chris"" is based o...",Chris Rock,0.500000
245,":-$ It's where this emoticon tells you to ""put...",where your mouth is,0.500000
266,"Ljubljana, Bratislava, Barcelona",Barcelona,1.000000
270,"Found ""just what I needed"" at this ""City"", an ...",Circuit City,0.500000
272,"Istanbul, Ottawa, Amman",Istanbul,1.000000
278,"Sofia, Sarajevo, Saigon",Saigon,1.000000
282,"This ""Urban"" store is the parent company of An...",Urban Outfitters,0.500000
284,"Bucharest, Bonn, Bern",Bonn,1.000000
286,6 elements once known as inert gases are now k...,noble gases,0.500000
290,"Belize City, Guatemala City, Panama City",Belize City,1.000000
...,...,...,...
19694,"A syrup named for this ""Mrs."" was introduced i...",Mrs. Butterworth,0.500000
19699,In 1941 there were less than 2 dozen of this t...,Whooping crane,0.500000
19705,This endangered species of brown bear can grow...,Grizzly bear,0.500000
19708,This 113-mile sand bar along Texas' Gulf Coast...,Padre Island,0.500000
19712,In 1998 Frito-Lay introduced this line of olea...,WOW Chips,0.500000
19714,This lord & poet known for his licentious beha...,Lord Byron,0.500000
19755,Although published by this organization for 62...,the Girl Scouts of America,0.333333
19759,Alvin Toffler wrote that when man's capacity f...,future shock,0.500000
19767,"Edwin Meredith, a former Secy. of Agriculture,...",Better Homes and Gardens,0.250000
19778,America's National Zoo was just 1 year old whe...,the Smithsonian Institution,0.500000
19813,"Bodie, California, this type of abandoned ""tow...",Ghost town,0.500000
19819,"A long, lit-up ""M"" marks the Hernando de Soto ...",Mississippi River,0.500000
19824,This lyrical drama by Percy Shelley takes lice...,"""Prometheus Unbound""",0.500000
19831,See experts at the Smithsonian work on the con...,Fort McHenry,0.500000
19859,In the 4th century Greece became a part of the...,Ottoman Empire,0.500000
19860,"Once known as St. Christopher and Nevis, it's ...",St. Kitts and Nevis,0.750000
19874,14 questions stand between you & the cash; wou...,Who Wants to Be a Millionaire,0.200000
19880,Celebs can samba away with the money or fall f...,Dancing with the Stars,0.333333
19916,"It's no ""Nightmare""--MTV's 2006 Best New Artis...",Avenged Sevenfold,0.500000
19917,"This Guy, a master of the short story, also wr...",Guy de Maupassant,0.333333
19924,Neptune's Fountain & The Abundance are statues...,Pitti Palace,0.500000
19927,In 2000 Virginia & Maryland reached an agreeme...,the Chesapeake Bay,0.500000
19933,Great Peconic & Napeague Bays are at the tip o...,Long Island,0.500000
19939,Fighters at this Cuban bay in 1961 were ransom...,the Bay of Pigs,0.500000
19945,The 2000 Census recorded only 5 residents in t...,Prudhoe Bay,0.500000
19951,The name of this Jamaican bay is from the Span...,Montego (Bay),0.500000
19963,"African Americans, 13% of the U.S., were nearl...",the First Gulf War,0.333333
19974,"Langdon in ""Angels & Demons"" is looking for <a...",an antimatter bomb,0.333333
19981,In 1899 Secretary of State John Hay proclaimed...,open-door policy,0.500000
19994,"Of 8, 12 or 18, the number of U.S. states that...",18,1.000000

This doesn't seem very helpful when studying to win jeopardy.

We will now find out how often

In [27]:
question_overlap = []
terms_used = set()
jeopardy = jeopardy.sort_values('airdate_clean', ascending = False)
for i, row in jeopardy.iterrows():
    match_count = 0
    split_question = row.clean_question.split()
    split_question = [q for q in split_question if len(q) > 5]

    for item in split_question:
        if item in terms_used:
            match_count += 1
    for item in split_question:
        terms_used.add(item)
    if len(split_question) > 0:
        match_count /= len(split_question)
    question_overlap.append(match_count)
jeopardy['question_overlap'] = question_overlap   
terms_list = list(terms_used)
question_overlap = []
terms_used = set()

In [28]:
print(jeopardy.question_overlap.mean())

0.6945067290628608

This means we have proven that 70% of words longer than 5 letters are re-used in our limited dataset of jeopardy questions.

In [29]:
jeopardy.loc[jeopardy.clean_values >= 800,'high_value'] = 1
jeopardy.loc[jeopardy.clean_values < 800,'high_value'] = 0

In [30]:
jeopardy[['value', 'high_value']].head()

      value  high_value
1931   $600         0.0
1973  $2000         1.0
1971  $2000         1.0
1970  $2000         1.0
1969  $2000         1.0

The author of the project now wants us to loop over ALL the rows AGAIN and AGAIN turn the clean_question and clean_answer columns into lists. At this point I am really not sure if the author is a passable programmer. I will just make these columns part of the dataframe.

In [31]:
jeopardy['split_question'] = jeopardy.clean_question.str.split()
jeopardy['split_answer'] = jeopardy.clean_answer.str.split()

In [32]:
print(jeopardy.split_question.head())
print(jeopardy.split_answer.head())

1931    [this, singer, of, jack, diane, had, to, fight...
1973    [inopportune, or, untimely, like, the, title, ...
1971    [the, april, 2009, issue, of, science, magazin...
1970    [hefty, nickname, of, the, second, last, atomi...
1969    [to, make, this, dish, beef, is, topped, with,...
Name: split_question, dtype: object
1931    [john, mellencamp]
1973        [inconvenient]
1971       [their, genome]
1970            [fat, man]
1969    [beef, wellington]
Name: split_answer, dtype: object

In [51]:
comparison_terms = terms_list[:5]

observed_expected = []
for item in comparison_terms:
    high_count = jeopardy[jeopardy.high_value == 1].clean_question.str.contains(item).sum()
    low_count = jeopardy[jeopardy.high_value == 0].clean_question.str.contains(item).sum()
    observed_expected.append([high_count,low_count])
observed_expected

high_value_count, low_value_count = jeopardy.high_value.value_counts()[[0,1]]
print(high_value_count)
print(low_value_count)

from scipy.stats import chisquare
chi_squared = []
for entry in observed_expected:
    total = sum(entry)
    total_prob = total / jeopardy.shape[0]
    expected_high = total_prob * high_value_count
    expected_low = total_prob * low_value_count
    expected = np.array([expected_high, expected_low])
    observed = np.array(entry)
    chi_squared.append(chisquare(observed,expected))
    
chi_squared

12047
7952

[Power_divergenceResult(statistic=0.17504613678585157, pvalue=0.6756655395215962),
 Power_divergenceResult(statistic=0.6600813480534574, pvalue=0.41653122582698476),
 Power_divergenceResult(statistic=0.6600813480534574, pvalue=0.41653122582698476),
 Power_divergenceResult(statistic=0.6600813480534574, pvalue=0.41653122582698476),
 Power_divergenceResult(statistic=9.080041856857296, pvalue=0.0025841413438891787)]